{% extends "_layouts/auth.njk" %}
{% block body %}
  <!-- o enctype="multipart/form-data" é da habilita a funcionalidade de enviar arquivos para o servidor -->
  <form action="/signin" method="post">
    <img src="/images/logo.svg" height="42" alt="logo"/>

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Seu e-mail"/>
    <input type="password" name="password" placeholder="Senha secreta"/>

    <button type="submit">Entrar</button>
    <a href="/signup">Criar conta grátis</a>
  </form>

{% endblock %}
