{% extends "_layouts/default.njk" %} {% block body %} {% if user.provider ===
false %}
<div class="content">
  <strong>Olá, {{ user.name }} </strong>
  <p>Inicie um agendamento ecolhendo um profissional abaixo:</p>
  <ul class="providers">
    {% for provider in providers %}
    <li class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}" alt="avatar" />
        <strong>{{ provider.name }}</strong>
      </div>
      <a href="/app/appointments/new/{{ provider.id }}">+</a>
    </li>
    {% endfor %}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>
{% else %}
<div class="content">
  <strong>Olá, {{ user.name }}</strong>
  <p>Essa é sua agenda:</p>

  <ul class="schedules">
    {% for appointment in appointments %}
    <li class="schedule">
      <div>
        <img src="/files/{{ appointment.user.avatar }}" alt="avatar" />
        <div class="info">
          <strong>{{ appointment.user.name }}</strong>
          <p>Agendado para: {{ appointment.date_formated }}</p>
        </div>
      </div>
    </li>
    {%endfor%}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>
{% endif %} {% endblock %}
